<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-primary">Change password</h4>
        <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-8">
                <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="complete()" autocomplete="off">
                    <app-text-input
                        [formControl]="$any(changePasswordForm.controls['currentPassword'])"
                        [label]="'Current password'"
                        [type]="'password'"
                    ></app-text-input>
        
                    <app-text-input
                        [formControl]="$any(changePasswordForm.controls['newPassword'])"
                        [label]="'New password'"
                        [type]="'password'"
                    ></app-text-input>
        
                    <app-text-input
                        [formControl]="$any(changePasswordForm.controls['confirmNewPassword'])"
                        [label]="'Confirm new password'"
                        [type]="'password'"
                    ></app-text-input>
        
                    @if (validationErrors) {
                        <div class="alert alert-danger text-start">
                            <ul>
                                @for (error of validationErrors; track $index) {
                                    <li>{{error}}</li>
                                }
                            </ul>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>  
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
        <button class="btn btn-primary" 
                form="changePasswordForm"
                [disabled]="!changePasswordForm.valid">
            Save changes
        </button>
    </div>  
</div>
