<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-primary">
            @if (workShift) {
            Edit work shift
            } @else {
            Create work shift
            }
        </h4>
        <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-8">
                <form [formGroup]="workShiftForm" id="workShiftForm" (ngSubmit)="complete()" autocomplete="off">
                    @if (!workShift) {
                        <app-text-input 
                            [formControl]="$any(workShiftForm.controls['employeeId'])"
                            [label]="'Employee ID'"
                            [type]="'number'">
                        </app-text-input>

                        <div class="mb-3 form-floating">
                            <input 
                                [class.is-invalid]="$any(workShiftForm.controls['dateRange']).touched 
                                    && $any(workShiftForm.controls['dateRange']).invalid"
                                class="form-control" 
                                [formControl]="$any(workShiftForm.controls['dateRange'])"
                                placeholder="Date(s)"
                                bsDaterangepicker
                                [bsConfig]="{
                                    containerClass: 'theme-dark-blue',
                                    dateInputFormat: 'DD-MM-YYYY'
                                  }">
                            <label>Date(s)</label>
                            @if ($any(workShiftForm.controls['dateRange']).hasError('required')) {
                                <div class="invalid-feedback text start">
                                    Date(s) must contain date
                                </div>
                            }
                        </div>
                    } @else {
                        <app-date-picker
                            [formControl]="$any(workShiftForm.controls['startDate'])"
                            [label]="'Start date'"
                        ></app-date-picker>
                    }

                    <div class="mb-3">
                        <label>Start time</label>
                        <timepicker 
                            [formControl]="$any(workShiftForm.controls['start'])"
                            [showMeridian]="false"
                            ngDefaultControl>
                        </timepicker>
                    </div>

                    <app-text-input 
                        [formControl]="$any(workShiftForm.controls['shiftLength'])"
                        [label]="'Shift length'"
                        [type]="'number'">
                    </app-text-input>

                    @if (validationErrors) {
                    <div class="alert alert-danger text-start">
                        <ul>
                            @for (error of validationErrors; track $index) {
                            <li>{{error}}</li>
                            }
                        </ul>
                    </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
        <button class="btn btn-primary" 
                form="workShiftForm"
                [disabled]="!workShiftForm.valid">
            Save changes
        </button>
    </div>
</div>