<h3>Reset password</h3>

@if (result() == undefined) {
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-8">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
                <app-text-input
                    [formControl]="$any(resetPasswordForm.controls['newPassword'])"
                    [label]="'New password'"
                    [type]="'password'"
                ></app-text-input>

                <app-text-input
                    [formControl]="$any(resetPasswordForm.controls['confirmNewPassword'])"
                    [label]="'Confirm new password'"
                    [type]="'password'"
                ></app-text-input>

                <button class="btn btn-primary" 
                        [disabled]="!resetPasswordForm.valid">
                    Reset password
                </button>
            </form>
        </div>
    </div>
} @else if (result() == true) {
    <h1 class="text-success">Success</h1>
} @else {
    <h1 class="text-danger">Failed</h1>
}