<div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Filter results</h4>
    <button type="button" class="btn-close" (click)="activeOffcanvas.dismiss()"></button>
</div>
<div class="offcanvas-body">
    <div class="d-flex">
        <form #form="ngForm" class="mx-auto" style="width: 80%;" (ngSubmit)="loadNotifications()" autocomplete="off">
            <div class="mb-3 form-floating">
                <select name="status" 
                        class="form-select" 
                        [(ngModel)]="notificationService.notificationParams().status">
                    @for (status of statusList; track status.value) {
                        <option [value]="status.value">{{status.display}}</option>
                    }
                </select>
                <label>Status</label>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">
                    Filter
                </button>
                <button (click)="resetFilters()" class="btn btn-primary" type="button">
                    Reset
                </button>
                <button (click)="closeOffcanvas(activeOffcanvas)" class="btn btn-primary" type="button">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>