<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-primary">
            @if (employee) {
            Edit employee
            } @else {
            Create employee
            }
        </h4>
        <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-8">
                <form [formGroup]="employeeForm" id="employeeForm" (ngSubmit)="complete()" autocomplete="off">
                    <app-text-input [formControl]="$any(employeeForm.controls['firstName'])"
                        [label]="'First name'"></app-text-input>

                    <app-text-input [formControl]="$any(employeeForm.controls['lastName'])"
                        [label]="'Last name'"></app-text-input>

                    <app-text-input [formControl]="$any(employeeForm.controls['departmentId'])"
                        [label]="'Department id'" [type]="'number'"></app-text-input>

                    @if (validationErrors) {
                    <div class="alert alert-danger text-start">
                        <ul>
                            @for (error of validationErrors; track $index) {
                            <li>{{error}}</li>
                            }
                        </ul>
                    </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
        <button class="btn btn-primary" 
                form="employeeForm"
                [disabled]="!employeeForm.valid">
            Save changes
        </button>
    </div>
</div>