<button class="btn btn-primary" (click)="showOffcanvas()">Filter</button>
@if (accountService.roles().includes("Admin")) {
  <button (click)="createEmployee()" class="btn btn-primary" type="button">Create employee</button>
}
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Department id</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          @for (employee of employeeService.paginatedResult()?.items; track employee.id) {
              <tr>
                  <td>{{employee.id}}</td>
                  <td>{{employee.departmentId}}</td>
                  <td>{{employee.firstName}}</td>
                  <td>{{employee.lastName}}</td>
                  <td>
                    @if (employee.isActive) {
                        Active
                    } @else {
                        Not active
                    }
                  </td>
                  <td>
                    <button class="btn btn-primary" 
                            routerLink="/employees/{{employee.id}}">
                      Details
                    </button>
                    @if (accountService.roles().includes("Admin")) {
                      <button class="btn btn-info" 
                              (click)="editEmployee(employee)">
                        Edit
                      </button>
                      <button class="btn btn-danger" 
                              (click)="deleteEmployee(employee)">
                        Delete
                      </button>
                      @if (employee.isActive) {
                        <button class="btn btn-info" 
                                (click)="deactiveEmployee(employee)">
                            Deactive
                        </button>
                      } @else {
                        <button class="btn btn-info" 
                                (click)="activeEmployee(employee)">
                            Active
                        </button>
                      }
                    }
                  </td>
              </tr>
          }
      </tbody>
    </table>
  
  @if (employeeService.paginatedResult()?.pagination) {
      <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="employeeService.paginatedResult()?.pagination!.totalItems"
                      [itemsPerPage]="employeeService.paginatedResult()?.pagination!.itemsPerPage"
                      (pageChanged)="pageChanged($event)"
                      [(ngModel)]="employeeService.paginatedResult()?.pagination!.currentPage"
                      [maxSize]="10"
                      previousText="&lsaquo;" 
                      nextText="&rsaquo;" 
                      firstText="&laquo;" 
                      lastText="&raquo;">
          </pagination>   
      </div>
  }