<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-primary">
            @if (workRecord) {
            Edit work record
            } @else {
            Create work record
            }
        </h4>
        <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-8">
                <form [formGroup]="workRecordForm" id="workRecordForm" (ngSubmit)="complete()" autocomplete="off">
                    <app-date-picker 
                        [formControl]="$any(workRecordForm.controls['startDate'])" 
                        [label]="'Start date'">
                    </app-date-picker>
                    
                    <div class="mb-3">
                        <label>Start time</label>
                        <timepicker 
                            [formControl]="$any(workRecordForm.controls['startTime'])" 
                            [showMeridian]="false" 
                            ngDefaultControl>
                        </timepicker>
                    </div>

                    <app-date-picker 
                        [formControl]="$any(workRecordForm.controls['endDate'])" 
                        [label]="'End date'">
                    </app-date-picker>
                    
                    <div class="mb-3">
                        <label>End time</label>
                        <timepicker 
                            [formControl]="$any(workRecordForm.controls['endTime'])" 
                            [showMeridian]="false" 
                            ngDefaultControl>
                        </timepicker>
                    </div>

                    @if (validationErrors) {
                    <div class="alert alert-danger text-start">
                        <ul>
                            @for (error of validationErrors; track $index) {
                            <li>{{error}}</li>
                            }
                        </ul>
                    </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
        <button class="btn btn-primary" 
                form="workRecordForm"
                [disabled]="!workRecordForm.valid">
            Save changes
        </button>
    </div>
</div>